/* Add appropriate styles for your components */
.game-board {
  /* Add any necessary styles for the game board container */
}

.game-row {
  display: flex;
}

.game-cell {
  width: 30px; /* Adjust width as needed */
  height: 30px; /* Adjust height as needed */
  border: 1px solid #000; /* Add borders or styling as needed */
  margin: 2px; /* Add margin or spacing as needed */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* styles/styles.css */
.qwerty-keyboard {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.keyboard-row {
  display: flex;
  gap: 10px;
}

.keyboard-key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.keyboard-key.disabled {
  background-color: #eee;
  cursor: not-allowed;
}

.keyboard-key.in-target-word {
  background-color: yellow;
}

.keyboard-key.correct-position {
  background-color: green;
}


.banner {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.banner-options {
  display: flex;
  gap: 10px;
}

.banner-options a,
.banner-options button {
  color: #fff;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}